@use "./vars" as *;

// Items in the channel list top margin
@mixin channellist-topper($left) {
    text-align: center;
    position: fixed;
    top: 6px;
    left: $left;
    width: calc($channellist-width / 2);
    height: 24px;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-size: 1rem;
    z-index: 1;
    -webkit-app-region: drag;
}

// Raise
@mixin raise($shadow: var(--elevation-medium)) {
    transition: 0.2s ease-out;
    transition-property: box-shadow, transform;

    &:hover {
        box-shadow: $shadow;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: none;
        transform: none;
        transition-duration: 0;
    }
}
