$black: var(--neobrutal-color-1);
$white: var(--neobrutal-color-2);
$accent: var(--neobrutal-color-accent);

$border-width: 5px;
$gap-width: 8px;
$serverlist-width: 84px;
$channellist-width: 240px;
$searchbar-height: 36px;
