@use "../vars" as *;

// Tooltip
.tooltip_b6c360 {
    // Pointer
    .tooltipPointer_b6c360 {
    }
    // Content
    .tooltipContent_b6c360 {
    }
}

// Inverted colour tooltip
#{$appMount} .tooltipGrey_b6c360 {
    background: $text;
    color: var(--background-floating);

    .tooltipPointer_b6c360 {
        border-top-color: $text;
    }
}
