@use "../../vars" as *;

// Server discovery
#{$appMount} .pageWrapper_a3a4ce,
.sidebar_a4d4d9 + .scroller_a39aa3 {
    background: $white;
    color: $text;
    border-top: 36px solid $black;

    // Search
    @at-root .search_f69601 .searchBox_f69601 {
        background: $white;
        box-shadow: none;

        // Text input
        .searchBoxInput_f69601 {
            color: $text;

            &::placeholder {
                color: $text-muted;
            }
        }

        // Search icon
        .searchIcon_f69601 {
            color: $text-muted;
        }

        .closeIcon_f69601,
        .closeIcon_f69601:hover {
            color: $text;
        }
    }

    // Servers
    @at-root .guildList_ac51fa {
        // Server
        @at-root .card_eb1ca6 {
            // Server banner
            @at-root .splashImage_eb1ca6 {
                height: 143px;
            }
        }
    }

    // Divider
    .divider_a39aa3 {
        background: unset;
    }
}
