@use "../../vars" as *;

// Search results
// Search bar and language container
.container_f69601.searchPage_f69601 {
    background: $black;
    border: $border-width solid $black;
    gap: $border-width;

    // Search bar
    .search_f69601 {
        max-width: unset;

        @at-root #{$appMount} .searchBox__56feb {
            background: $white;
            box-shadow: none;

            &:focus,
            &:focus-within {
                border-color: unset;
            }

            @at-root .input_f8bc55 {
                color: $text;

                &::placeholder {
                    color: $text-muted;
                }
            }

            .searchIcon_d1a3c1 {
                color: $text-muted;
            }
        }
    }

    // Language selector
    @at-root .languageSelector_f69601 {
        margin-left: 0;
    }
}

// Server categories bar
.categories_f69601 {
    background: $black;
    gap: $border-width;
    border: $border-width solid $black;
    justify-content: space-around;
    max-width: unset;

    // Category
    @at-root .categoryPill_f69601 {
        margin: 0;
        --text-muted: #{$white};

        &.selected_f69601,
        &:hover:not(.selected_f69601) {
            background: $white;
            --white-500: #{$black};
            --text-muted: #{$black};
        }
    }
}

// Results
.results_e37a20 {
    max-width: unset;

    @at-root .guildList_a3a4ce {
        max-width: unset;

        // Separator
        @at-root .separator_e825f6 {
            border-top: 0;
        }
    }
}

// Navigation
.pageControlContainer_b48941 {
    background: $black;
    --header-primary: #{$white};
    --text-normal: #{$white};

    @at-root .pageButton_b48941 {
        &:hover {
            color: $black;
        }
        &.activeButton_b48941,
        &.activeButton_b48941:hover {
            background: $white;
            color: $black;
        }
    }
}
