@use "../../vars" as *;

// Message box
.form_a7d72e {
    &::before,
    &::after {
        display: none;
    }

    > .channelTextAreaContainer_d0696b > .channelTextArea_a7d72e {
        .themedBackground_d0696b {
            background: $black;
            border: $border-width solid $black;
            --interactive-normal: #{$white};
            --interactive-hover: #{$white};
            --interactive-active: #{$white};

            // Upload button
            .attachButton_d0696b {
            }

            // Text area
            .textArea_d0696b {
                background: $white;
                border: solid $black;
                border-width: 0 $border-width;

                .slateTextArea_e52116 {
                    padding: 8px;
                }
            }

            // Right side buttons
            .buttons_d0696b {
            }

            // Separator
            @at-root .separator_a06035 {
                &::before {
                    display: none;
                }

                // Send button
                .button_a06035:is(:hover, :focus, :focus-within) {
                    .activeButtonChild_a06035 {
                        color: $accent;
                    }
                }
            }
        }
    }
}
