@use "../../vars" as *;

// Post actions
.buttonContainer_ec86aa {
    @at-root .container_a3b500 {
        @at-root .wrapper_ef319f {
            background-color: var(--background-floating);

            // Action
            @at-root .button_ef319f {
                --interactive-hover: var(--background-floating);
                --interactive-active: var(--background-floating);
            }
        }
    }
}
