@use "../vars" as *;
@use "../funcs" as *;

// Buttons

// Solid fill
.lookFilled_dd4f85 {
    :is(&, &:hover, &:active, &:disabled, &[aria-disabled="true"]) {
        &:is(.colorBrand_dd4f85, .colorPrimary_dd4f85) {
            color: $white;
            background: $text;
        }
        &.colorRed_dd4f85 {
            color: $white;
            @at-root #{$appMount} {
                --button-danger-background: #{$accent};
                --button-danger-background-hover: #{$accent};
                --button-danger-background-active: #{$accent};
                --button-danger-background-disabled: #{transparentize($accent, 60%)};
            }
        }
        &.colorGreen_dd4f85 {
            color: $white;
            @at-root #{$appMount} {
                --button-positive-background: #{$accent};
                --button-positive-background-hover: #{$accent};
                --button-positive-background-active: #{$accent};
                --button-positive-background-disabled: #{transparentize($accent, 60%)};
            }
        }
    }

    &.button_dd4f85 {
        &:disabled,
        &[aria-disabled="true"] {
            color: $text-muted;
            opacity: 1;
        }
    }
}

// Outlined
.lookOutlined_dd4f85 {
    border-width: 2px;

    &.colorRed_dd4f85 {
        @at-root #{$appMount} {
            --button-outline-danger-background: transparent;
            --button-outline-danger-border: #{$accent};
            --button-outline-danger-text: #{$accent};

            --button-outline-danger-background-hover: #{$accent};
            --button-outline-danger-border-hover: #{$accent};
            --button-outline-danger-text-hover: #{$white};

            --button-outline-danger-background-active: #{$accent};
            --button-outline-danger-border-active: #{$accent};
            --button-outline-danger-text-active: #{$white};
        }
    }
    &.colorGreen_dd4f85 {
        @at-root #{$appMount} {
            --button-outline-positive-background: transparent;
            --button-outline-positive-border: #{$accent};
            --button-outline-positive-text: #{$accent};

            --button-outline-positive-background-hover: #{$accent};
            --button-outline-positive-border-hover: #{$accent};
            --button-outline-positive-text-hover: #{$white};

            --button-outline-positive-background-active: #{$accent};
            --button-outline-positive-border-active: #{$accent};
            --button-outline-positive-text-active: #{$white};
        }
    }
    &.colorBrand_dd4f85 {
        @at-root #{$appMount} {
            --button-outline-brand-background: transparent;
            --button-outline-brand-border: #{$text};
            --button-outline-brand-text: #{$text};

            --button-outline-brand-background-hover: #{$text};
            --button-outline-brand-border-hover: #{$text};
            --button-outline-brand-text-hover: #{$white};

            --button-outline-brand-background-active: #{$text};
            --button-outline-brand-border-active: #{$text};
            --button-outline-brand-text-active: #{$white};
        }
    }
}

// Text only
.lookLink_dd4f85.lookLink_dd4f85 {
    &.colorPrimary_dd4f85 {
        color: $text;
    }
}

// Inverted
.lookInverted_a299dc {
    :is(&, &:hover, &:active, &:disabled, &[aria-disabled="true"]) {
        &.colorBrand_dd4f85 {
            color: $text;
            background: $white;
        }
    }
}
