@use "../vars" as *;

// Buttons

// Solid fill
.lookFilled__950dd {
    :is(&, &:hover, &:active, &:disabled, &[aria-disabled="true"]) {
        &:is(.colorBrand__27d57, .colorPrimary_ebe632) {
            color: $white;
            background: $black;
        }
    }

    &.button__581d0 {
        &:disabled,
        &[aria-disabled="true"] {
            color: $grey;
            opacity: 1;
        }
    }
}

// Text only
.lookLink_a2da25.lookLink_a2da25 {
    &.colorPrimary_ebe632 {
        color: $black;
    }
}
