@use "../vars" as *;
@use "../funcs" as *;

:is(.theme-light, .theme-dark) {
    // Background
    --background-primary: #{$white};
    --background-secondary: #{$white};
    --background-tertiary: #{$white};
    --background-secondary-alt: #{$white};
    --background-accent: #{$accent};

    --background-modifier-hover: #{$text};
    --background-modifier-active: #{$text};
    --background-modifier-selected: #{$text};

    --modal-background: var(--background-floating);
    --modal-footer-background: #{$white};
    --activity-card-background: #{$white};
    --input-background: #{$white};
    --deprecated-store-bg: #{$white};
    --autocomplete-bg: var(--background-floating);

    // Text
    --text-normal: #{$text};
    --text-muted: #{$text-muted};
    --text-positive: #{$text};
    --text-brand: #{$accent};
    --header-primary: #{$text};
    --header-secondary: #{$text};
    --embed-title: #{$text};
    --channels-default: #{$text};

    // Placeholder text
    --channel-text-area-placeholder: #{transparentize($text, 50%)};
    --input-placeholder-text-dark: #{transparentize($text, 50%)};
    --input-placeholder-text: #{transparentize($text, 50%)};

    // Interactive
    --interactive-muted: #{$text-muted};
    --interactive-normal: #{$text};
    --interactive-hover: #{$text};
    --interactive-active: #{$text};

    // Danger
    --status-danger: #{$accent};

    // Elevation shadow
    --elevation-stroke: 1px 1px #{transparentize($accent, 50%)};
    --elevation-low: 2px 2px #{transparentize($accent, 50%)};
    --elevation-medium: 4px 4px #{transparentize($accent, 50%)};
    --elevation-high: 6px 6px #{transparentize($accent, 50%)};
    --legacy-elevation-high: var(--elevation-high);
    --legacy-elevation-border: none;

    // Scrollbar
    --scrollbar-auto-thumb: #{$accent};
    --scrollbar-thin-thumb: #{$accent};
    --scrollbar-auto-track: #{$grey};
    --scrollbar-thin-track: #{$grey};
}

.theme-light {
    --background-floating: #{mixSrgb($white, white)};
}

.theme-dark {
    --background-floating: #{mixSrgb($white, black)};
}
