@use "../vars" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap");

@font-face {
    font-family: HelveticaNeueLT;
    src: url("https://saltssaumure.github.io/neobrutal-discord-theme/assets/font/HelveticaNeueLT-Std-Md.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: HelveticaNeueLT;
    font-weight: 700;
    src: url("https://saltssaumure.github.io/neobrutal-discord-theme/assets/font/HelveticaNeueLT-Std-Bd.otf") format("woff");
    font-display: swap;
}
@font-face {
    font-family: HelveticaNeueLT;
    font-weight: 800;
    src: url("https://saltssaumure.github.io/neobrutal-discord-theme/assets/font/HelveticaNeueLT-Std-Hv.otf") format("woff");
    font-display: swap;
}

:root {
    --font-primary: HelveticaNeueLT, Helvetica, Arial, "Noto Emoji", sans-serif;
    --font-display: HelveticaNeueLT, Helvetica, Arial, "Noto Emoji", sans-serif;
}
