// Scrollbar fix
* {
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
}

.thin_eed6a8,
.thin_c49869 {
    &::-webkit-scrollbar-track {
        background-clip: padding-box;
        border-color: transparent;
    }
}
