@use "../../vars" as *;

// Settings
.baseLayer_d4b6c5 + .layer_d4b6c5 {
    padding-top: 0;
    top: 0;
    z-index: 100;

    // Pseudo titlebar and drag area
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: $black;
        inset: 0 36px * 3 auto 0;
        height: 36px;
        -webkit-app-region: drag;
    }

    @at-root .standardSidebarView_c25c6d {
        .platform-win & {
            top: 32px;
        }

        // Left side
        @at-root .sidebarRegion_c25c6d {
            @at-root .side_a0 {
                gap: $border-width;

                // Item
                .item_a0 {
                    margin: 0;

                    &.themed_a0 {
                        // Selected or hovered
                        &:is(.selected_a0, :hover:not(.disabled_a0), :active) {
                            background: $text;
                            color: $white;
                        }
                    }

                    @at-root .premiumLabel_ae3c77 {
                        path {
                            fill: currentColor;
                        }
                    }
                }

                // Divider
                .separator_a0 {
                    height: 2px;
                    background: $grey;
                }

                // Social media links
                @at-root .socialLinks_c44e94 {
                    display: flex;
                    gap: $border-width;
                    justify-content: center;

                    // Link
                    @at-root .link_c44e94 {
                        display: block;
                        padding: $gap-width;
                        margin-right: 0;
                        height: 32px;
                        &:hover {
                            color: $white;
                            background: $text;
                        }

                        @at-root .foreground_c44e94 {
                            transition: none;
                        }
                    }
                }
            }
        }

        // Right side
        @at-root .contentRegion_c25c6d {
            // Controls
            .toolsContainer_c25c6d {
                // Exit settings
                @at-root .container_df5532 {
                    @at-root .closeButton_df5532 {
                        --interactive-hover: #{$white};
                        --interactive-active: #{$white};

                        &:hover {
                            border-color: $text;
                        }

                        box-shadow: var(--elevation-medium);
                    }
                }
            }

            // Settings content
            // Divider
            .divider_b03b7f {
                border: 1px solid $grey;
            }

            // Tab bar
            @at-root .top_a0 {
                border: $border-width solid $black;
                background: $black;
                justify-content: space-around;
                gap: $border-width;
                padding: 0;

                .item_a0 {
                    flex: 1 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $black;
                    color: $white;
                    margin: 0;
                    padding: 0;
                    height: 36px;

                    &:is(:hover, :active, .selected_a0) {
                        background: $white;
                        color: $black;
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
