@use "../../../vars" as *;

// Billing

// Payment options
// Default indicator
#{$appMount} .defaultIndicator_ede133 {
    background: $accent;
    color: $white;
}

// Reset items
#{$appMount} {
    .paginator_f66684,
    .paymentPane_f66684,
    .summaryInfo_a28a08,
    .payment_a28a08,
    .codeRedemptionRedirect_cb70f4,
    .expandedInfo_a28a08 {
        background: unset;
        color: $text;
    }

    .bottomDivider_f66684 {
        border-bottom: 2px solid $grey;
    }
}

// Transaction history
.paymentPane_f66684 {
    // Payment history item
    @at-root .hoverablePayment_a28a08:not(:has(+ .hoverablePayment_a28a08)) {
        border-bottom: 0;
    }

    // Navigation
    @at-root .pageActions_cb56ee {
        border: $border-width solid $black;
        padding: 0;
        margin: 20px 0;
        background: $black;
        gap: $border-width;
        --interactive-hover: #{$black};

        @at-root :is(.pageButtonPrev_cb56ee, .pageIndicator_cb56ee, .pageButtonNext_cb56ee) {
            border: 0;
            background: $black;
            color: $white;
        }

        @at-root :is(.pageButtonPrev_cb56ee, .pageButtonNext_cb56ee):not(.disabled_cb56ee) {
            &:hover {
                background: $white;
            }
        }
    }
}

// Note
#{$appMount} .codeRedemptionRedirect_cb70f4 {
    border: none;
}
