@use "../../../vars" as *;

// Devices

// Title
.sectionTitle__3e02b {
    margin-bottom: $gap-width;
}

// Sessions container
.children_aba8cb {
    gap: $gap-width;

    // Session card
    @at-root .session__201cb {
        border-bottom: 0;
        border-left: $gap-width solid $black;
        padding-left: 16px;
    }
}
