@use "../../vars" as *;
// Titlebar
.withFrame__5e49e {
    height: 0;
    margin-top: 0;

    // Windows control buttons
    @at-root .winButton_f17fb6 {
        top: 0;
        border: $border-width solid $black;
        --interactive-normal: #{$white};
        --interactive-hover: #{$black};
        --background-modifier-hover: #{$white};
        background: $black;
        --status-danger: #{$accent};
    }
}
