@use "../../vars" as *;
@use "../../mixins" as *;

// Titlebar
.withFrame_a934d8 {
    height: 0;
    margin-top: 0;

    // Windows control buttons
    @at-root .winButton_a934d8 {
        top: 0;
        border: $border-width solid $black;
        --interactive-normal: #{$white};
        --interactive-hover: #{$black};
        --background-modifier-hover: #{$white};
        background: $black;
        --status-danger: #{$accent};
    }
}

// Pseudo titlebar
.bg_d4b6c5 {
    // Mod title
    &::before {
        @include channellist-topper($left: $serverlist-width);
        content: var(--modtitle-text);
        font-family: var(--font-headline);
        background: $accent;
        color: $white;
    }

    // Mode indicator
    &::after {
        @include channellist-topper($left: calc($serverlist-width + ($channellist-width / 2)));
        content: var(--modeindicator-text);
        font-family: var(--font-primary);
        background: var(--background-tertiary);
        color: var(--text-muted);
    }
}
