@use "../../vars" as *;

.wordmark__5b8c9 {
    &::after {
        content: var(--modtitle-text);
        font-family: var(--font-headline);
        white-space: nowrap;
        text-align: center;

        position: fixed;
        top: 0;
        left: $serverlist-width;
        width: calc($channellist-width / 2);
        height: 36px;
        box-sizing: border-box;
        line-height: 1.6rem;
        font-size: 1rem;

        border: solid $black;
        border-width: $border-width 0;
        background: $accent;
        color: $white;
    }

    > svg {
        display: none;
    }

    pointer-events: unset;
    padding: 0;
}

:root {
    --modtitle-text: "Modified Discord";

    &:has(#vencord-css-core) {
        --modtitle-text: "Vencord";
    }
    &:has(#vcd-css-core) {
        --modtitle-text: "Vesktop";
    }
    &:has(link[href^="replugged"]) {
        --modtitle-text: "Replugged";
    }
    &:has(bd-body) {
        --modtitle-text: "BetterDiscord";
    }
    &:has(script[src^="chrome-extension://cpojbkbhfkkljmlojagocnbmiaagkhkn"])
    {
        --modtitle-text: "Shelter";
    }
}
