@use "../../vars" as *;
@use "../../funcs" as *;

// Modal

.layer_c9e2da {
    @at-root .focusLock_f9a4c9 {
        @at-root .root_f9a4c9 {
            // Header
            @at-root .header_f9a4c9 {
                --interactive-normal: #{$black};
                --interactive-hover: #{$black};
                --interactive-active: #{$black};
            }

            // Content
            @at-root .content_f9a4c9 {
            }

            // Footer
            @at-root .footer_f9a4c9 {
                &.footerSeparator_f9a4c9 {
                    box-shadow: none;
                }
            }
        }
    }
}

// Backdrop
.backdrop__1a911 {
    background: transparentize($black, 50%) !important;
}
