@use "../../vars" as *;

// DMs page

// Sidebar channels
.container_b15955 {
    --interactive-active: #{$white};
    --interactive-hover: #{$white};
}

// Tab bars
.topPill_a0 {
    gap: $border-width;

    // Tab
    .item_a0 {
        margin: 0;

        &.themed_a0 {
            // Selected or hovered
            &:is(.selected_a0, :hover:not(.disabled_a0), :active) {
                background: $white;
                color: $black;
            }
            // Friend
            &.addFriend_c2739c,
            &.addFriend_c2739c:is(:hover, :active) {
                background: $accent;
                color: $white;
            }
        }
    }
}

// Header shadow
.tabBody_c2739c,
.headerBar_d175a8 {
    &::before {
        display: none;
    }
}
