@use "../../vars" as *;

// Friends

// Friend list
.peopleColumn_c2739c {
    // Friend
    @at-root .peopleListItem_d51464 {
        border-top: 0;

        --background-modifier-active: #{$white};

        &:hover,
        &.active_d51464 {
            background: $black;
            --header-primary: #{$white};
            --header-secondary: #{$white};
            --interactive-normal: #{$white};
            --interactive-hover: #{$white};
            --interactive-active: #{$white};
            --background-secondary: #{$black};
            --background-tertiary: #{$black};
            --background-modifier-active: #{$black};
        }

        // Actions
        @at-root .actions_e05dae {
            // Action button
            .actionButton_e01b91 {
                // Hide message button
                &:first-child {
                    display: none;
                }
            }
        }
    }
}

// Active now
.scroller_bf550a {
    border-left: 0;

    // Cards
    @at-root .wrapper_cd82a7 {
        border: 0;
    }
}
