.theme-light {
    --neobrutal-color-1: #111;
    --neobrutal-color-2: #ddd;
    --neobrutal-color-accent: #9d64df;
}

.theme-dark {
    --neobrutal-color-1: #ddd;
    --neobrutal-color-2: #111;
    --neobrutal-color-accent: #9d64df;
}
