@use "sass:map";

$default-colors: (
    "1": (
        "light": #111112,
        "dark": #ddddde
    ),
    "2": (
        "light": #ddddde,
        "dark": #111112
    ),
    "text": (
        "light": #300066,
        "dark": #e4ccff
    ),
    "accent": (
        "light": #9d64df,
        "dark": #9d64df
    )
);

$modes: ("light", "dark");

// Generate default .theme-mode
@each $mode in $modes {
    .theme-#{$mode} {
        @each $name, $colorpair in $default-colors {
            --neobrutal-color-#{$name}: #{map.get($colorpair, $mode)};
        }
    }
}

// Prevents invalid user customised values from being applied
@each $name, $colorpair in $default-colors {
    @property --neobrutal-color-#{$name} {
        syntax: "<color>";
        inherits: true;
        initial-value: map.get($colorpair, "light");
    }
}
