@use "../vars" as *;

// Channel list
.sidebar_a4d4d9 {
    // Move from top to give space
    border-top: $searchbar-height solid $black;

    // Header
    @at-root .header_fd6364 {
        background: $black;
        --header-primary: #{$white};
    }

    // DM header (Find or start a conversation)
    @at-root .searchBar_f0963d {
        box-shadow: none;
        background: $black;
        padding: calc($gap-width / 2) 0 $gap-width;
        box-sizing: border-box;

        .searchBarComponent_f0963d {
            height: 100%;
            padding: 0;
            text-align: center;
            font-size: 100%;
            background: $black;
            color: $white;

            &:hover {
                background: $white;
                color: $black;
            }
        }
    }

    // Category
    @at-root .containerDefault_a08117 {
    }

    // Channel
    @at-root .containerDefault_f6f816 {
        --interactive-normal: #{$text};
        --interactive-hover: #{$white};
        --interactive-active: #{$white};

        --text-muted: var(--interactive-muted);

        // Channel background
        @at-root :is(.link_d8bfb3, .users_a5bc92, .total_a5bc92) {
            // Hovered channels
            @at-root .wrapper_d8bfb3:hover &,
                .modeMuted_d8bfb3:hover &,
                .modeUnreadImportant_d8bfb3:hover & {
                background: var(--background-modifier-hover);
            }

            // Selected and connected channels
            @at-root .modeSelected_d8bfb3 &,
                .modeSelected_d8bfb3:hover &,
                .modeConnected_d8bfb3 &,
                .modeConnected_d8bfb3:hover & {
                background: var(--background-modifier-selected);
            }
        }
        @at-root .total_a5bc92:after {
            display: none;
        }

        // Channel icon, name, actions, voice channel status, user limit
        @at-root :is(.icon_d8bfb3, .name_d8bfb3, .actionIcon_f6f816, .statusText_e66732, .users_a5bc92, .total_a5bc92) {
            // Read and unread channels
            @at-root .wrapper_d8bfb3 &,
                .modeUnreadImportant_d8bfb3 & {
                color: var(--interactive-normal);
            }

            // Muted channels
            @at-root .modeMuted_d8bfb3 & {
                color: var(--interactive-muted);
            }

            // Hovered channels
            @at-root .wrapper_d8bfb3:hover &,
                .modeMuted_d8bfb3:hover &,
                .modeUnreadImportant_d8bfb3:hover & {
                color: var(--interactive-hover);
            }

            // Selected and connected channels
            @at-root .modeSelected_d8bfb3 &,
                .modeSelected_d8bfb3:hover &,
                .modeConnected_d8bfb3 &,
                .modeConnected_d8bfb3:hover & {
                color: var(--interactive-active);
            }
        }

        // Voice chat user mute/deafen status, username
        @at-root :is(.icon_cdc675, .username_cdc675) {
            .voiceUser_cdc675:hover & {
                color: var(--interactive-hover);
            }
        }

        // Live streaming icon
        .live_e17fae {
            color: $white;
            background: $accent !important;
        }

        // Unread channel
        :has(.unread_d8bfb3) {
            $name-height: 2px;

            .link_d8bfb3 {
                padding: 6px - $name-height 8px;

                .name_d8bfb3 {
                    text-decoration: underline $accent wavy 2px;
                    text-decoration-skip-ink: none;
                    overflow-y: visible;
                    height: 20px + $name-height * 2;
                }
            }
        }
    }
}
