@use "../vars" as *;

// Header bar
.themed_b152d4.container__26baa {
    --interactive-normal: #{$white};
    --channel-icon: #{$white};
    --background-primary: #{$black};
    --home-background: #{$black};
    --text-normal: #{$white};
    --header-secondary: #{$white};

    // Drag locations
    -webkit-app-region: drag;
    // Toolbar, channel description, mask for windows controls
    .toolbar__62fb5,
    .topic__16ae3,
    .platform-win &::after {
        -webkit-app-region: no-drag;
    }
    .platform-win &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 38px * 3;
        height: 32px;
    }

    // Channel name
    .defaultColor__8610e {
        color: #{$white};
    }

    @at-root .upperContainer__57565 {
        flex-direction: column;
        gap: 8px;

        // Channel name and description
        @at-root .children_cde9af {
            @at-root .divider_bdb894 {
                display: none;
            }
        }

        // Toolbar
        @at-root .toolbar__62fb5 {
            justify-content: space-around;
            container-type: inline-size;
            gap: $border-width;

            // Outmost containers
            > *,
            .iconWrapper_de6cd1 {
                flex: 1 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin: 0;
                height: 36px;
            }

            // Icon and label container
            .iconWrapper_de6cd1 {
                &:hover,
                &.selected__1fc53 {
                    background: $white;
                    color: $black;
                    --interactive-hover: #{$black};
                    --interactive-active: #{$black};
                }

                // Hide unavailable options
                &:not(.clickable_ce0925) {
                    display: none;
                }

                // Display icon label if enough space
                @container (min-width: 1000px) {
                    &::after {
                        content: attr(aria-label);
                    }
                }

                // New message indicator
                .iconBadge__20a6b {
                    display: none;
                }
                &:has(.iconBadge__20a6b) {
                    text-decoration: underline $accent wavy 2px;
                    text-decoration-skip-ink: none;
                }
            }

            // Dividers
            .divider_bdb894 {
                display: none;
            }

            // Search bar
            // For alternative placement, see themesettings/_search
            @at-root .search__07df0 {
                order: 1;

                @at-root .searchBar__5a20a {
                    color: $black;

                    // from: to: etc.
                    .searchFilter_dbda51 {
                        background: $black;
                        color: $white;
                    }

                    // Answer to the above
                    .searchAnswer__2ccaf {
                        background: $black;
                        color: $accent;
                    }

                    @at-root .clear__70411 .icon__5c8c7 {
                        color: $black;
                    }
                }
            }

            // Remove help button
            .anchor_c8ddc0 {
                display: none;
            }
        }
    }
}

// Remove shadow
.content__01e65::before {
    display: none;
}
.header__77c95 {
    box-shadow: none;
}

// Channel header dropdown button
.button__84b6b {
    opacity: 1;
}
