@use "../vars" as *;

// Server list
.wrapper_fea3ef {
    background: none;
    justify-content: flex-end;
    width: $serverlist-width;

    --custom-list-items-list-item-width: #{$serverlist-width};

    @at-root .tree_fea3ef {
        height: calc(100% - $serverlist-width);
        background: $black;
        box-sizing: border-box;
        padding-bottom: 16px;
        align-items: center;
        --green-360: #{$black};

        // Scroller
        @at-root .scroller_fea3ef {
            :is(.platform-win, .platform-osx) & {
                padding-top: 0;
            }

            // DMs (Discord icon)
            @at-root .tutorialContainer_f9623d {
                position: fixed;
                top: 0;
                left: 0;
                background: $black;

                // Icon / pill wrapper
                .listItem_c96c45 {
                    width: $serverlist-width;
                    height: $serverlist-width;

                    // Icon outmost wrapper
                    .listItemWrapper_dfb2f8 {
                        display: flex;
                        align-items: center;

                        @at-root .wrapper__8436d {
                            // Icon innermost wrapper
                            .childWrapper_a6ce15 {
                                color: $white;
                                svg {
                                    zoom: 1.7;
                                }
                            }
                            &:is(:hover, .selected_ae80f7) .childWrapper_a6ce15 {
                                color: $accent;
                                background: unset;
                            }
                            .childWrapperNoHoverBg__7e8f1 {
                                background: unset;
                            }
                        }
                    }
                }
            }

            // Hide DMs and servers separator if no DMs
            @at-root .tutorialContainer_f9623d + .listItem_c96c45:has(.guildSeparator_d0c57e) {
                display: none;
            }

            // Ping counter
            .lowerBadge_c5f96a {
                --status-danger: #{$accent};
                // writing-mode: vertical-lr;
                // top: 0;
                // right: -8px;

                // .numberBadge__40d6f {
                //     height: 100%;
                //     width: 8px!important;
                //     min-width: 8px !important;
                // }
            }

            // Server
            @at-root .listItem_c96c45 {
                @at-root .pill_a5ad63 {
                    @at-root .item_fd07a3 {
                        background: $accent;
                        margin-left: 0;
                    }
                }
            }

            // Server group container
            @at-root .wrapper_bc7085 {
                width: $serverlist-width;
                display: flex;
                flex-direction: column;
                align-items: center;

                .expandedFolderBackground_bc7085 {
                    left: calc(($serverlist-width - 48px) / 2);
                }
            }
        }
    }
}
