@use "../vars" as *;

// Server list
.wrapper__216eb {
    background: none;
    justify-content: center;

    @at-root .tree__7a511 {
        height: 80vh;
        background: $black;
        padding-top: 12px;
        padding-bottom: 12px;
        --green-360: #{$black};

        // Make everything square-ish
        @at-root .svg__34dd4,
            body #app-mount .guilds__2b93a .expandedFolderBackground_b1385f {
            border-radius: 4px;
        }

        // Make channel icons grey
        @at-root .blobContainer_c44493,
            .guildIcon_b6bfa7 {
            filter: grayscale(1);
        }
    }
}
