.withFrame__5e49e {
    height: 0;
    margin-top: 0;

    // Wordmark
    .wordmark__5b8c9 {
        display: none;
    }

    // Windows control buttons
    .winButton_f17fb6 {
        top: 0;
    }
}
