@use "../vars" as *;

// User control panel
.panels_a4d4d9 {
    --background-modifier-selected: #{$text};
    --interactive-hover: #{$white};

    // Square buttons
    .button_f67531 {
        &.enabled_f67531:hover {
            .lottieIcon_f73ef7 :not(defs *) {
                &[fill][fill-opacity] {
                    fill: $white;
                }
                &[stroke][stroke-opacity] {
                    stroke: $white;
                }
            }
        }
    }

    // Current activity
    @at-root .activityPanel_a4d4d9 {
        border-bottom: none;
    }

    // Voice activity
    @at-root .wrapper_adcaac {
        @at-root .container_adcaac {
            border-bottom: none;

            @at-root .actionButtons_adcaac.actionButtons_adcaac {
                .button_adcaac .buttonColor_adcaac,
                .button_adcaac.buttonColor_adcaac {
                    background: $white;
                    color: $text;

                    &:hover {
                        background: $text;
                        color: $white;
                        --interactive-active: #{$white};
                    }
                }
            }
        }
    }

    // User panel
    @at-root .container_b2ca13 {
        // User info
        @at-root .withTagAsButton_b2ca13:hover,
            .withTagless_b2ca13:hover {
            --header-primary: #{$white};
            --header-secondary: #{$white};
        }
    }
}
