@use "../../vars" as *;

// Options menu
// Menu items
.option_f6639d {
    &[aria-selected="true"]:not(.option_f6639d.multi_f6639d) {
        color: $whitest;
        background: $text;

        .selectedIcon_f6639d {
            color: $whitest;

            circle {
                fill: $text;
            }
        }
    }
}
