@use "../../vars" as *;

// Post card
.card_a6d69a {
    .container_d331f1 {
        transition:
            box-shadow 0.2s ease-out,
            transform 0.2s ease-out;
        --header-primary: #{$text};
        --header-secondary: #{$text};
        --text-normal: #{$text};

        :is(&, &:hover, &.isOpen_d331f1) {
            border: 0;
            border-left: $gap-width solid $text;
        }

        // Currently open post
        :is(&.isOpen_d331f1, &:hover, &:active) {
            background: $text;
            --header-primary: #{$white};
            --header-secondary: #{$white};
            --text-normal: #{$white};

            // Post tags
            .tags_f451cd {
                .pill_c993da {
                    background: $white;
                    --text-normal: #{$text};
                }
            }

            // Post reaction
            .reaction_f61c73 {
                background: $text;

                &.reactionMe_f61c73 {
                    background: $white;
                    border: none;
                }

                .reactionCount_f61c73 {
                    color: $text;
                }
            }
        }

        // Post info
        @at-root .body_d331f1 {
            // Post title
            @at-root .header_d331f1 {
                order: -1;
            }
        }

        // Post footer
        @at-root .footer_d331f1 {
            gap: $gap-width * 2;

            // Post reaction
            .reaction_f61c73 {
                transition-property: none;
                margin-right: 0;
            }

            // Divider
            @at-root .bullet_d331f1 {
                display: none;
            }

            // Created at
            .text-sm-normal__95a78 {
                margin-top: 2px;
            }
        }
    }
}
