@use "../../vars" as *;

// Header row
@at-root .headerRow_a6d69a {
    // Would be great if this wasn't part of the lazy loader
    // position: sticky !important;
    // top: 0;
    // z-index: 1;
    background: $white;
    padding-bottom: 0;
    margin-bottom: $gap-width * 2;

    // Make post / search post
    @at-root .header_a6d69a {
        background: $black;
        border: $border-width solid $black;
        --interactive-normal: #{$white};
        --interactive-hover: #{$white};
        --interactive-active: #{$white};

        @at-root .container_c1668f {
            padding: 0;

            // Generic input
            @at-root .form_c1668f {
                margin-right: 0;
            }

            // Top area
            @at-root .formContainer_c1668f {
                padding: 0;

                // Search / close icon
                @at-root .prefixElement_c1668f {
                    margin-left: 6px;
                }

                // Text input
                @at-root .form_c1668f {
                    // Search term / post title
                    @at-root .titleContainer_c1668f {
                        background: $white;
                        --interactive-normal: #{$black};
                        --interactive-hover: #{$black};
                        --interactive-active: #{$black};

                        .title_c1668f {
                            margin: calc($gap-width / 2 + 2px) $gap-width calc($gap-width / 2 - 2px);
                        }
                    }

                    // Post body
                    @at-root .bodyContainer_c1668f {
                        background: $white;
                        padding: $gap-width;
                    }
                }

                // Attach input
                @at-root .container_a15d29 {
                    // Placeholder
                    @at-root .uploadInput_a15d29 {
                        background: $black;

                        :is(&, &:hover) .uploadIcon_a15d29 {
                            zoom: 1.5;
                        }
                    }

                    // File counter
                    .badge_a15d29 {
                        border: 0;
                        top: 0;
                        right: 0;
                        background: $accent;
                        color: $white;
                    }

                    // Extended file preview popout
                    @at-root .popoutContainer_a15d29 {
                        top: -16px - $border-width;
                        right: -16px - $border-width;

                        @at-root .popout_a15d29 {
                            background: $black;
                            padding: 0;
                            border: $border-width solid $black;

                            // File upload options menu
                            .miniPopover_df1eaf {
                                height: auto;
                            }
                        }
                    }
                }
            }

            // Bottom area
            @at-root .formContainer_c1668f + .form_c1668f {
                // Tags
                @at-root .tagsContainer_c1668f {
                    gap: 14px;
                }
                // Divider
                @at-root .tagsDivider_c1668f {
                    display: none;
                }
            }
        }
    }

    // Post guidelines
    @at-root .container_ddbb27 {
        border: $border-width solid $black;
        --header-secondary: #{$black};
    }

    // Tags and sort posts bar
    @at-root .tagsContainer_a6d69a {
        background: $black;
        border: $border-width solid $black;
        padding: 0;
        margin-top: $gap-width * 2;
        gap: $gap-width;
        justify-content: space-between;
        flex-direction: row-reverse;

        // Sort & view
        @at-root .sortDropdown_a6d69a {
            --interactive-normal: #{$black};

            &[aria-expanded="false"] {
                background: $black;
                --interactive-normal: #{$white};
            }
        }

        // Divider of no particular purpose
        @at-root .divider_a6d69a {
            display: none;
        }

        // Main tag list
        @at-root .tagList_a6d69a {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-start;

            @at-root .tagListInner_a6d69a {
                gap: $border-width;

                // Tag
                @at-root .tag_a6d69a.tag_a6d69a.tag_a6d69a.tag_a6d69a {
                    &:hover {
                        background: $white;
                        --text-normal: #{$black};
                    }
                }
            }
        }

        // Additional tags
        @at-root .tagsButton_a6d69a {
            position: relative;
            left: unset !important;

            --interactive-normal: #{$black};

            &[aria-expanded="false"] {
                background: $black;
                --interactive-normal: #{$white};
            }
        }
        @at-root .tagsButtonPlaceholder_a6d69a {
            display: none;
        }
    }
}

// After header spacing
.content_eed6a8 {
    div[role="grid"] {
        margin-top: $gap-width * 2;
    }
}
