@use "../../vars" as *;

// Post card
.card__691f2 {
    .container_de2a56 {
        transition:
            box-shadow 0.2s ease-out,
            transform 0.2s ease-out;
        --header-primary: #{$black};
        --header-secondary: #{$black};
        --text-normal: #{$black};

        :is(&, &:hover, &.isOpen__8593d) {
            border: 0;
        }

        // Currently open post
        :is(&.isOpen__8593d, &:hover, &:active) {
            background: $black;
            --header-primary: #{$white};
            --header-secondary: #{$white};
            --text-normal: #{$white};

            // Post tags
            .tags_e6c42a {
                .pill_f055c3 {
                    background: $white;
                    --text-normal: #{$black};
                }
            }
        }

        // Post info
        @at-root .body_dd9e3d {
            // Post title
            @at-root .header_ff52a5 {
                order: -1;
            }
        }

        @at-root .bullet__4f67e {
            display: none;
        }
    }
}
