@use "../../vars" as *;

// Post opened
.scrollerInner__37fee {
    overflow: unset;

    // Post actions bar
    @at-root .container__68e43 {
        box-shadow: none;
        background: $black;

        // Any button
        @at-root :is(.buttonInner__865de, .addReactButton__4342f) {
            background: $black;
            color: $white;

            // Activated
            &:is(.active_f1266e, .active_f2e487) {
                :is(&, &:hover) {
                    background: $white;
                    color: $black;
                }
            }
        }

        // Post reaction
        .reaction_ef7e09 {
            background: $black;

            &.reactionMe__9fc5c {
                background: $white;
                border: none;
            }

            .reactionCount_b780c8 {
                color: $black;
            }
        }
    }

    // Divider
    @at-root .divider__4df9f {
        display: none;
    }

    // OP tag
    .botTagOP_fd6360 {
        background: $accent;
        color: $white;
    }
}
