@use "../../vars" as *;

.pill_f055c3.pill_f055c3:not(.disabled_fbfabf) {
    &,
    &:hover {
        background: $black;
        --text-normal: #{$white};
    }
    &.selected__50db4 {
        background: $white;
        --text-normal: #{$black};
    }
}
