@use "../../vars" as *;

.pill_c993da.pill_c993da:not(.disabled_c993da) {
    &,
    &:hover {
        background: $black;
        --text-normal: #{$white};
    }
    &.selected_c993da {
        background: $white;
        --text-normal: #{$black};
    }
}
