@use "../../vars" as *;
@use "../../mixins" as *;

// Radio bar with long description
// Radio item
.item_eb92a8 {
    --interactive-hover: #{$white};
    --interactive-active: #{$white};
    --background-modifier-hover: #{$text};
    @include raise;

    @at-root .radioBar_eb92a8 {
        border-left-width: $gap-width;
    }
}
