@use "../../vars" as *;

// Slider
.sliderContainer_e13f88 {
    // Size (full)
    .slider_c7a159 {
        // Track
        @at-root .track_c7a159 {
            // Grabber
            @at-root .grabber_c7a159 {
                background: $accent;
                box-shadow: var(--elevation-low);
                border: none;
            }

            // Ticks
            @at-root .mark_c7a159 {
                // Number
                @at-root .markValue_c7a159 {
                }
                // Dash
                .markDash_c7a159 {
                    background: $grey;
                }
            }
        }

        // Progress bar
        @at-root #{$appMount} .bar_c7a159 {
            background: $grey;
            // Done amount
            @at-root .barFill_c7a159 {
                background: $accent;
            }
        }
    }

    //Mini
    @at-root .mini_c7a159 {
        // Mini grabber
        .grabber_c7a159 {
            width: 14px;
            height: 14px;
        }
    }

    // Positioning
    @at-root .slider_e13f88 {
    }
}
