@use "../../vars" as *;

// Toggle
.container_cebd1c {
    color: $text;
    background: currentColor !important;

    // Checked
    &.checked_cebd1c {
        color: $accent;
    }

    // Switch
    @at-root .slider_cebd1c {
        rect {
            fill: $white;
        }
        path {
            fill: currentColor;
        }
    }
}
